# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###
*.pyc
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Testing Data
*.csv

# Swap Files
*.swp

# DS_Store, whatever that is
*.DS_Store

# Configuration File
config.json

# Test Images
*.jpg

# Temporary Files
*.docx#
