# Created by https://www.gitignore.io/api/python
# Edit at https://www.gitignore.io/?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/]

# C extensions
*.so

# Testing Data
*.csv

# IPython
profile_default/
ipython_config.py

# End of https://www.gitignore.io/api/python
